@import '../../css/baseStyles';
@import 'sass/layout/hero';

.indexHero {
  background-position: center;
  background-size: auto 700px;
  background-repeat: no-repeat;
}

.walkthrough {
  @media (min-width: $tablet) {
    display: flex;

    &.is-reversed {
      flex-direction: row-reverse;
    }

    .walkthrough__description {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: $gap;
    }
  }

  .walkthrough__graphic {
    text-align: center;
    padding: $gap;

    img {
      display: inline-block;
    }
  }
}
